/* Layout styles -----------------------------------*/
@media (min-width: 800px) {
    .footercontainer {
        column-count: 3;
    }

    .footerchild {
        break-inside: avoid;
    }

    .slider {
        margin: 0% 10%;
    }
}

/* Center text in footer in tablet and mobile */
@media (max-width: 800px) {
    .footerchild {
        text-align: center;
    }

    .article {
        flex-wrap: wrap;
    }

    #popup {
        height:
    }
}

/* Responsive pictures */
.responsive {
    max-width: 100%;
    height: auto;
}

.responsiveasmaller {
    max-width: 75%;
    height: auto;
}

.responsiveicon {
    max-height: 25%;
    width: auto;
}

.right {
    float: right;
    padding: 0 10px;
}

.notopmargin {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Fonte */
h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}


h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    font-size: 20px;
    font-family: 'WTimes New Roman', Times, serif;
}

h6 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* Colors */
.grey {
    color: #707070;
}

/********** Buttons ***********/
.button {
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    width: 100px;
    height: 40px;
    vertical-align: middle;

}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/********** Body ***********/
body {
    margin: 0% 5%;
    box-sizing: border-box;
}

/********** Header ***********/
header {
    background-color: black;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
}

/********** Menu ***********/
.handler {
    color: white;
    flex: 45%;
}

.handlerright {
    display: flex;
    flex-wrap: wrap;
    flex: 55%;
    justify-content: flex-end;
}

/********** Searchbar and SoMe ***********/

input {
    background-color: black;
    color: white;
}

.some {
    align-items: flex-end;
    padding-top: 20px;
}

/********** Navbar ***********/

.navbar {
    overflow: hidden;
    position: relative;
    top: 0;
    align-self: flex-end;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: left;
    padding: 0 0;
    margin: 0 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    color: white;
    border-bottom: 1px solid #FFFFFF;
}

/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}


/********** Slider ***********/


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 30px;
    user-select: none;
    float: right;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/********** Main & sidebar ***********/

.columnparent {
    display: flex;
    flex-wrap: wrap;
}

.columnright {
    flex: 30%;
}

.columnleft {
    flex: 70%;
}

.article {
    background-color: white;
    padding: 20px;
    margin-top: 20px;

    display: flex;
}

.articleimg {
    flex: 40%;
}

.articletext {
    flex: 60%;
    padding-left: 20px;
}


/********** Sponsor ***********/


.sponsors {
    text-align: center;
}


/********** Footer ***********/

footer {
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.footercontainer {

    margin: 20px auto;
    padding: 20px;
    column-gap: 120px;
}

.footerchild {
    padding: 5px;
}

/********** Blur container ***********/
.blurcontainer#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}


/********** Popups ***********/

#popup {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: white;

    visibility: collapse;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: white;

    visibility: collapse;
    opacity: 0;
    transition: 0.5s;
}

#popup2.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: white;

    visibility: collapse;
    opacity: 0;
    transition: 0.5s;
}

#popup3.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup4 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: white;

    visibility: collapse;
    opacity: 0;
    transition: 0.5s;
}

#popup4.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}